.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/images/back-ground.png');
}

.login-box {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #084c3f;
  padding: 10px;
  margin-bottom: 1.2rem;
}

h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

p {
  color: #666;
  margin-bottom: 1.5rem;
}

.full-width {
  width: 100%;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #084c3f; 
}

.logo-container {
  display: flex;
  align-items: center; 
  gap: 0.5rem;
  padding-left: 45px;
}
