/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  width: 25%;
  background-color: #084c3f !important;
  color: white !important;
}

.mat-mdc-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-outlined-buttonhover {
  background-color: #06392f !important;
}